* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.debug {
  border: 1px solid rgb(235, 144, 144);
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.btn {
  display: inline;
  border-radius: 40px;
  padding: 6px 15px;
  background-color: white;
  color: rgb(0, 0, 0);
  text-decoration: none;
  width: 50px ;
  height: 30px ;
  

}

/* heder */
header {
  height: 80px;
  line-height: 80px;
  background-color: #255FE8;
  
}

nav {
  width: 80%;
  margin: 0 auto;
  vertical-align: middle;
  
}
.header-aside {
  width: 20%;
  float: left;
  
}
ul li a {
  color: white;
  text-decoration: none;
  padding-left: 30px;
}
ul li {
  display: inline-block;
  padding-left: 30px;
}
nav ul {
  text-align: center;
  width: 60%;
  float: left;
}
.login-button{
   margin-left:  200px;
}
/* /fine heder */
/* main */
.jumbotron{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    min-height: 550px;
}
 .jumbotron div{
    text-align: center;
    vertical-align: middle;
    color: white;
    font-size: 30px;
}